body {
    height: 100vh;
    margin: 0;
    font-family: "Poppins", arial, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

img {
    width: 100%;
}

.nav-container {
    background: #6700EE;

    a, nav {
        color: white;
    }
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2em;

    .logo {
        color: #4BF2FC;
        font-weight: bold;
    }
    
    ul {
        display: flex;

        a {
            padding: 0 1em;
        }
    }
}

.social-header, .hero-design {
    display: none;
}

.hero {
    background: #6E00FF;
    color: white;
    display: grid;
    padding: 4em 2em;

    .sub-hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 3em auto;
        margin-bottom: unset;
        width: 14em;

        button {
            color: white;
            background: #FF64AE;
            border: none;
            height: 38px;
            width: 170px;
            border-radius: 100px;
            font-weight: bold;
            font-size: 1rem;
            letter-spacing: 1.2px;
            box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.37), 0px -1px 4px rgba(0, 0, 0, 0.37);
        }
        .see-work {
            margin-top: 3em;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 170px;
            color: #4BF2FC;
            p{
                font-weight: bold;
            }
        }
    }

}

section {
    padding: 4em 2em;
    text-align: center;
}
.featured {
    position: relative;
    img {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: .7em;
        
    }
}
.featured::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #e5d5fa7a;
    top: 0;
    left: 0;
    z-index: -1;
}

.subtitle {
    text-transform: uppercase;
    font-weight: bold;
    color: #6E00FF;
    letter-spacing: .2em;
    font-size: .85em;
}

.featured-title {
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: -.4em;
    display: block;
}

.featured-desc {
    color: #3B3B3B;
    margin-bottom: 3em;
    font-size: .85em;
    line-height: 1.8em;
    font-weight: 500;
}

.skills {
    background: #FF64AE
}

.skills-container ul li {
    background: white;
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 1em;

    .icon-container {
        height: 100px;
        display: grid;
        place-content: center;
        margin: 0 auto;
    }
}

.skills-title {
    font-weight: bold;
    margin-top: -.7em;
}
.featured-desc {
    margin-bottom: 2em;
}

.porfolio-container a img {
    border-radius: 1em;
    margin-bottom: 2em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

footer {
    width: 100%;
    height: 6em;
    background: #3B3B3B;
    .right {display: none;}
}

/* width */
::-webkit-scrollbar {
    width: 0;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: none;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: none;
  }
  

  @media only screen and (min-width: 800px){
    .featured, .portfolio {
        text-align: left;
    }
    .featured, .porfolio-container {
        display: grid;
        grid-template-columns: 40% auto;
    }

    .left, .porfolio-left {
        display: grid;
        align-content: center;
        text-align: left

    }

    .right {
        margin-left: 2em;
        margin-top: 1em;
    }

    .skills {
        margin-top: -5em;
        margin-bottom: -7em;
        padding-top: 7em;
    }

    .skills-container ul {
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 1em
    }
    .portfolio {
        padding-top: 7em;
    }

    .porfolio-container img {
        margin-left: 2em;
    }
  }

  @media only screen and (min-width: 1050px){
    .hero {
        height: 90vh;
    }
    .nav-container {
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;

        header {
            background: #6700EE;
        }
    }

    header {
        padding: 2em 2em 2em 4em;
    }
    .social-header {
        padding: 2em 4em 2em 0;
    }

    section {
        padding: 4em;
    }
   
    .social-header {
        display: block;

        ul {
            display: flex;
            justify-content: space-between;
            width: 7em;
            float: right;
            img {
                width: 20px;
            }
        }
    }

    .hero {
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
        padding: 0;


        .content {
            background:#6E00FF;
            padding: 8em 8em 6em 4em;
            text-align: left;

            h1 {
                font-size: 3em;
                line-height: 1.2em;
            }

            .sub-hero, .see-work .talk {
                padding: unset;
                margin: unset;
                display: unset;

                .see-work{
                    padding: unset;
                    margin: unset;
                    display: unset;
                }
                .talk {
                    padding: unset;
                    margin: unset;
                    display: unset;
                }
            }
            .sub-hero {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                width: 100%;
                margin: 8em 2em 6em 0;

                .see-work {
                    display: grid;
                    margin: 0 auto;
                    .see-more {
                        margin-top: 1.5em;
                        justify-self: center;
                    }
                }
                
            }
        }
    }
    .hero-design{
        display: unset;
        margin-left: -50%;
        margin-top: 28%;
        width: 100%;
    }
    .featured .left {
        margin-right: 4em;
    };

    .porfolio-container img, .featured img {
        float: right;
        max-width: 500px;
    }

  }

  @media only screen and (min-width: 1250px) {
    header {
        padding: 2em 2em 2em 10em;
    }
    .social-header {
        padding: 2em 10em 2em 0;
    }
    section {
        padding: 10em 10em 4em 10em
    }
    .hero .content {
        padding: 8em 8em 6em 10em;
    }
  }

  @media only screen and (min-width: 1550px) {
    header {
        padding: 2em 2em 2em 20em;
    }
    .social-header {
        padding: 2em 20em 2em 0;
    }
    section {
        padding: 10em 20em 4em 10em
    }
    .hero .content {
        padding: 8em 8em 6em 20em;
    }

    .skills-container {
        max-width: 1400px;
    }
  }


  .arrow {
    animation: arrowAnim 1s infinite alternate;
  }

  @keyframes arrowAnim {
    from{
      transform: translateY(0%)
    }
    to {
       transform: translateY((100%));
    }
  }